{% extends "base.html" %}

{% block title %}О проекте - NestCloud{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
    <h1>NestCloud - простое облачное хранилище файлов</h1>
    <p class="about-text">
    Данное веб-приложение для хранения и управления файлами написано на 
    <a href="https://flask.palletsprojects.com/" target="_blank" rel="noopener">Flask</a>, 
    база данных на 
    <a href="https://www.sqlalchemy.org/" target="_blank" rel="noopener">SQLAlchemy</a>, 
    аутентификация пользователей реализована с помощью 
    <a href="https://flask-login.readthedocs.io/" target="_blank" rel="noopener">Flask-Login</a>, 
    обработка изображений для превью выполняется с использованием 
    <a href="https://pillow.readthedocs.io/" target="_blank" rel="noopener">Pillow</a>, 
    формы созданы на базе 
    <a href="https://flask-wtf.readthedocs.io/" target="_blank" rel="noopener">Flask-WTF</a>.
    Проект доступен в 
    <a href="https://github.com/LimaEternal/NestCloud" target="_blank" rel="noopener">GitHub-репозитории</a>.
</p>
{% endblock %}